<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="resources/css/commons.css">
    <link rel="stylesheet" href="resources/css/cadastar.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet">
    <title>Index</title>
</head>
<body>
<nav class="header navbar navbar-expand-lg navbar-light box-shadow d-flex justify-content-between">
    <div class="header-content container-fluid d-flex justify-content-end">
        <div class="col-3">
        </div>
        <div class="col-6 d-flex justify-content-center">
            <a class="navbar-brand" href="#">EVENTS</a>
        </div>
        <div class="col-3 d-flex justify-content-end">
            <div class="box">
                <a href="#" class="link" tabindex="-1" role="button" aria-disabled="true">LOGIN</a>
            </div>
            <div class="box teal">
                <p>CADASTRE-SE<p>
            </div>
        </div>
    </div>
</nav>
<div class="container margin-top-m d-flex justify-content-center">
    <div class="cadastrar_container panel">
        <h5 class="text-center">CADASTRE-SE</h5>
        <form>
            <div class="form-group">
                <div class="form-group">
                    <input type="text" name="nome" class="form-control" placeholder="Nome">
                </div>
                <div class="form-group">
                    <input type="text" name="cpf" class="form-control" placeholder="CPF">
                </div>
                <div class="form-group">
                    <input type="email" name="email" class="form-control" placeholder="Email">
                </div>
                <div class="form-group">
                    <input type="password" name="senha" class="form-control" placeholder="password">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary col-12">CADASTRAR</button>
                </div>
            </div>
        </form>
    </div>

</div>

<div class="footer">
    <div class="container">
        Events 2019 - Copyright - Não manjo de direitos, use com parcimônia
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>